## Analsis de datos con Pandas (Core)
### Objetivo

El objetivo de este desafío es evaluar tus habilidades en el manejo de datos utilizando Pandas. Trabajarás con un dataset real extraído de Kaggle y aplicarás técnicas de carga, exploración, filtrado y slicing de datos.

### Dataset
Utilizaremos el dataset de «Video Game Sales» que contiene información sobre las ventas de videojuegos en diferentes regiones del mundo. El dataset incluye detalles sobre el nombre del juego, la plataforma, el año de lanzamiento, el género, el editor, y las ventas en diferentes regiones. Puedes descargar el dataset desde Kaggle.

### Preparación del Entorno
    - Asegúrate de tener instalado Pandas en tu entorno de trabajo.
    - Descarga el archivo vgsales.csv desde Kaggle y colócalo en tu directorio de trabajo.

### Cargar los Datos
    - Carga el archivo vgsales.csv en un DataFrame de Pandas.
    - Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente.

In [ ]:
import pandas as pd

# Cargar datos desde un archivo CSV
df = pd.read_csv('../data/vgsales.csv')

# Ver las primeras
print("Primeras filas del DataFrame:")
print(df.head(10))

### Exploración Inicial de los Datos
    - Muestra las últimas 5 filas del DataFrame.
    - Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.
    - Genera estadísticas descriptivas del DataFrame utilizando el método describe().

In [ ]:
print("Últimas filas del DataFrame:")
print(df.tail(5))

print("Información del DataFrame:")
print(df.info())

print("Estadísticas descriptivas del DataFrame:")
print(df.describe())

### Inspección de los Datos
    - Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.
    - Cuenta los valores únicos en la columna Genre utilizando el método value_counts().
    - Muestra todos los valores únicos en la columna Platform utilizando el método unique().

In [ ]:
# Inspeccionar los tipos de datos de las columnas
print("Tipos de datos de las columnas:")
print(df.dtypes)

# Contar valores únicos en una columna específica
print("Conteo de valores únicos en la columna 'Genre':")
print(df['Genre'].value_counts())

# Obtener valores únicos en una columna específica
print("nValores únicos en la columna 'Platform':")
print(df['Platform'].unique())

### Filtrado de Datos
    - Filtra el DataFrame para mostrar solo las filas donde las ventas en América del Norte (NA_Sales) sean mayores a 1 millón.
    - Filtra el DataFrame para mostrar solo las filas donde las ventas en Japón (JP_Sales) sean menores a 0.1 millón.
    - Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el género sea Action y las ventas globales (Global_Sales) sean mayores a 2 millones.

In [ ]:
# Filtrado de ventas NA_SALES > 1m
ventas_mayores_a_1_millon = df[(df['NA_Sales'] > 1)]
print(ventas_mayores_a_1_millon)
print('-----------------------------------------', end='\n')

# Filtrado de ventas NA_SALES > 1m
ventas_menores_a_0_1_millon = df[(df['JP_Sales'] < 0.1)]
print(ventas_menores_a_0_1_millon)
print('-----------------------------------------', end='\n')

# Metodo query
query_result = df.query('Genre == "Action" & Global_Sales > 2')
print(query_result)
print('-----------------------------------------', end='\n')

### Slicing de Datos
    - Selecciona y muestra solo las columnas Name y Global_Sales del DataFrame.
    - Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Name y Genre.
    - Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.

In [47]:
print(df.head(5))
print('-----------------------------------------', end='\n')

# Seleccionar Name y Global_Sales
sliced_rows = df[['Name','Global_Sales']]
print(sliced_rows)
print('-----------------------------------------', end='\n')

# Seleccionar filas y columnas específicas con loc
loc_result = df.loc[5:10, ['Name', 'Genre']]
print(loc_result)
print('-----------------------------------------', end='\n')

# Seleccionar filas y columnas específicas con iloc
iloc_result = df.iloc[0:5, 0:3]
print(iloc_result)
print('-----------------------------------------', end='\n')

   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
-----------------------------------------
                                                   Name  Global_Sales
0                                            Wii Sports         82.74
1                                     Super Mario Bros.         40.24
2                                        Mario Kart Wii         35.82
3                                     Wii Sports Resort         33.00
4                              Pokemon Red/Pokemon Blue         31.37
...                                                 ...           ...
16593                Woody Woodpecker in Crazy Castle 5          0.01
16594                     Men in Black II: Alien Escape          0.01
16595  SCORE International Baja 1000: The Official Game          0.01
16596                                        Know How 2          0.01
16597                                  Spirits & Spells          0.01

[16598 rows x 2 columns]
-----------------------------------------
                         Name       Genre
5                      Tetris      Puzzle
6       New Super Mario Bros.    Platform
7                    Wii Play        Misc
8   New Super Mario Bros. Wii    Platform
9                   Duck Hunt     Shooter
10                 Nintendogs  Simulation
-----------------------------------------
   Rank                      Name Platform
0     1                Wii Sports      Wii
1     2         Super Mario Bros.      NES
2     3            Mario Kart Wii      Wii
3     4         Wii Sports Resort      Wii
4     5  Pokemon Red/Pokemon Blue       GB
-----------------------------------------